body {
    padding-top: 75px; /* Spacing equal to the navbar height is required. */
}

.custom-href {
    color: black;
    text-decoration: none;
}

.custom-href:hover {
    color: #007bff; /* Hover 시 색상을 변경 */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transition: box-shadow 0.3s ease-in-out; /* 부드러운 애니메이션 */
}

.card-img-top {
    width: 100%;         /* 가로 크기 고정 */
    height: 200px;       /* 원하는 고정 높이 */
    object-fit: cover;   /* 비율 유지 및 초과 부분 크롭 */
}

@media (max-width: 767px) {
    .widget {
        order: -1; /* 순서를 가장 위로 이동 */
    }
    .gallery {
        order: 0; /* 기본 순서 유지 */
    }
}

.nav-link {
    font-size: 1.2rem; /* 메뉴 링크 폰트 크기 */
}

.carousel-inner img {
    object-fit: cover;     /* 이미지 비율 유지하며 크롭 */
    width: 100%;           /* 가로 크기 맞춤 */
}
