<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <!-- Brand (왼쪽 정렬) -->
        <a class="navbar-brand" href="/">열두광주리교회</a>

        <!-- Toggler (모바일 메뉴용) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items (오른쪽 정렬) -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-3">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="/">교회소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'service' %}active{% endif %}" href="/services/">예배안내</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'message' %}active{% endif %}" href="/message/">온라인설교</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="/blog/">교회활동</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}" href="/map/">오시는길</a>
                </li>
            </ul>
        </div>
    </div>
</nav>