<ul class="pagination justify-content-center mt-4 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">&larr;</span>
        </li>
    {% endif %}

    {% for index in pagelist %}
        {% if index == page_obj.paginator.ELLIPSIS %}
        <li class="page-item disabled">
            <span class="page-link">{{ index }}</span>
        </li>
        {% elif index == page_obj.number %}
        <li class="page-item active">
            <span class="page-link">{{ index }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ index }}">{{ index }}</a>
        </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rarr;</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">&rarr;</span>
        </li>
    {% endif %}
</ul>