{% extends 'blog/base.html' %}

{% block head_title %}
교회활동 - 열두광주리교회
{% endblock %}

{% block content %}

<h1>교회활동 {% if category %}<sub>{{ category }}</sub>{% endif %}</h1>
{% if post_list.exists %}
    <div class="row">
    {% for post in post_list %}
        <div class="col-md-4 mb-4">
            <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
                <div class="card rounded">
                    {% if post.photos.exists %}
                        <img src="{{ post.photos.first.image.url }}" alt="Photo" class="card-img-top img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p>{{ post.created_at | date:"Y년 m월 d일" }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% else %}
<p>There are no posts yet.</p>
{% endif %}

{% endblock %}
