{% extends 'blog/base.html' %}

{% block head_title %}
교회활동 - 열두광주리교회
{% endblock %}

{% block content %}

<h3>
{% if category %}
{{ category }}
{% else %}
전체
{% endif %}
</h3>

<div class="row">
    <div class="col-md-9 gallery">
        {% if post_list.exists %}
            <div class="row">
                {% for post in post_list %}
                    <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
                        <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark">
                            <div class="card rounded">
                                {% if post.photos.exists %}
                                    <img src="{{ post.photos.first.image.url }}" alt="Photo" class="card-img-top img-fluid">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p>{{ post.created_at | date:"Y년 m월 d일" }}</p>
                                    {% if post.tags.exists %}
                                        {% for tag in post.tags.iterator %}
                                            <span class="badge bg-secondary">#{{ tag }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no posts yet.</p>
        {% endif %}
    </div>

    <div class="col-md-3 mb-4 widget">
        <h5 class="card-header">검색</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="검색...">
                <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">검색</button>
                </span>
            </div>
        </div>

        <h5 class="card-header">분류</h5>
        <div class="card-body">
            <div class="row">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/blog/" class="custom-href">전체</a>
                    </li>
                    {% for category in categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}" class="custom-href">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h5 class="card-header">태그</h5>
        <div class="card-body">
                    {% for tag in tags %}
                            <a href="{{ tag.get_absolute_url }}" class="badge bg-secondary text-decoration-none">#{{ tag }}</a>
                    {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
