{% load static %}
<h1 class="text-center mt-5 mb-4"><i class="bi bi-pin-map-fill"></i> 오시는 길</h1>

<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_api_key }}"></script>

<div id="map" style="width:100%;height:500px;border-radius:25px;overflow:hidden;"></div>

<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng({{ latitude }}, {{ longitude }}), // 지도의 중심좌표
        level: 4 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng({{ latitude }}, {{ longitude }}); 

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
// marker.setMap(null);    
</script>
<br>
<p><i class="bi bi-house-fill"></i> 경기도 수원시 장안구 덕영대로497번길 22-16, 열두광주리교회</p>