{% extends "base.html" %}

{% load static %}

{% block head_title %}
열두광주리교회 - 담임목사님
{% endblock %}

{% block content %}
<section>
    <h1 class="text-center mt-5 mb-4"><i class="bi bi-person-fill"></i> 담임목사님 소개</h1>
    <div class="mt-5">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <h2>오대희 목사님</h2>
                <p>날마다 차고도 넘치는 은혜가 있는 열두광주리교회 담임목사인 오대희 목사는 목회자가 많이 배출된 믿음의 뿌리가 있는 가문에서 태어나 하나님의 말씀을 배우며 자랐습니다.</p>
                <p>서울 <a href="http://www.daegil.net/" target="_blank" rel="noopener" class="custom-href">대길교회</a>와 대전 <a href="https://www.saeronam.or.kr/" target="_blank" rel="noopener" class="custom-href">새로남교회</a>에서 사역했으며, <a href="http://www.precept.or.kr/" target="_blank" rel="noopener" class="custom-href">프리셉트성경연구원</a>에서 편집장을 역임한 바 있습니다. <a href="https://dsw.daegu.ac.kr/" target="_blank" rel="noopener" class="custom-href">대구대학교 사회복지학과</a>와 <a href="https://csts.csu.ac.kr/" target="_blank" rel="noopener" class="custom-href">총신대학교 신학대학원</a>, <a href="https://social.csu.ac.kr/" target="_blank" rel="noopener" class="custom-href">사회복지대학원</a>(박사과정 중)에서 공부하였습니다.</p>
                <p>저서로는 ‘열두광주리교회 개척이야기’(해피데이), ‘새가족 100일 큐티’, ‘당신이 행복했으면 좋겠습니다’, ‘나의 첫 설교 준비하기’, ‘커플들을 위한 100일 큐티’(이상 생명의말씀사), ‘큐티 합시다’, ‘나의 사랑하는 성경’(이상 프리셉트) 등이 있습니다.</p>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 mb-4">
                <img src="{% static 'pages/images/people/profile01.png' %}" alt="오대희 목사님" class="img-fluid rounded mx-auto d-block" style="max-width:300px; height:auto;">
            </div>
        </div>
    </div>  
</section>

{% include 'pages/recent_blog_posts.html' %}

<section>
    <h1 class="text-center mt-5 mb-4"><i class="bi bi-book-fill"></i> 담임목사님 저서</h1>
    <p>작성 중입니다.</p>
</section>

{% endblock%}