{% load static %}
<h1 class="text-center mt-5 mb-4"><i class="bi bi-people-fill"></i> 섬기는 분들</h1>
<div class="row justify-content-center">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile01.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">오대희 <sub class="custom-sub">목사님</sub></h5>
        <p class="text-center"><i class="bi bi-award-fill"></i> 담임목사</p>
        <button type="button" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-return-right"></i> 자세히</button>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile02.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">신은호 <sub class="custom-sub">목사님</sub></h5>
        <p class="text-center">교육디렉터</p>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile03.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">서반석 <sub class="custom-sub">선교사님</sub></h5>
        <p class="text-center">대학청년부</p>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile04.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">서동현 <sub class="custom-sub">전도사님</sub></h5>
        <p class="text-center">중고등부</p>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile05.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">손성희 <sub class="custom-sub">선교사님</sub></h5>
        <p class="text-center">유초등부</p>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5 d-flex flex-column align-items-center p-3">
        <img src="{% static 'pages/images/people/profile06.png' %}" class="rounded-circle img-fluid shadow mb-4" alt="Profile Image">
        <h5 class="text-center">하주현 <sub class="custom-sub">전도사님</sub></h5>
        <p class="text-center">영아부</p>
    </div>
</div>