<h1 class="text-center mt-5 mb-4"><i class="bi bi-table"></i> 예배 안내</h1>
<div class="row">
    <!-- Left Column -->
    <div class="col-lg-6 col-md-12">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">예배</th>
                    <th scope="col">시간</th>
                    <th scope="col">장소</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>주일 1부 예배</td>
                    <td>주일 오전 10:00</td>
                    <td>3층 교육관</td>
                </tr>
                <tr>
                    <td>주일 2부 예배</td>
                    <td>주일 오전 11:00</td>
                    <td>1층 본당</td>
                </tr>
                <tr>
                    <td>주일 3부 예배</td>
                    <td>주일 오후 02:00</td>
                    <td>1층 본당</td>
                </tr>
                <tr>
                    <td>새벽 예배</td>
                    <td>화,수,목 오전 06:00</td>
                    <td>온라인 예배</td>
                </tr>
                <tr>
                    <td>수요 예배</td>
                    <td>휴회</td>
                    <td>1층 본당</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Right Column -->
    <div class="col-lg-6 col-md-12">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">예배</th>
                    <th scope="col">시간</th>
                    <th scope="col">장소</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>금요 기도회</td>
                    <td>금요일 저녁 08:30</td>
                    <td>1층 본당</td>
                </tr>
                <tr>
                    <td>영아부 예배</td>
                    <td>주일 오전 10:30</td>
                    <td>2층 교육관</td>
                </tr>
                <tr>
                    <td>유아/유년부 예배</td>
                    <td>주일 오전 11:00</td>
                    <td>3층 교육관</td>
                </tr>
                <tr>
                    <td>중고등부 예배</td>
                    <td>주일 오후 02:00</td>
                    <td>1층 본당</td>
                </tr>
                <tr>
                    <td>대학청년부 예배</td>
                    <td>주일 오후 02:00</td>
                    <td>1층 본당</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>