@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body {
    font-family: "Nanum Gothic", sans-serif;
}

h1 {
    font-weight: 800;
}

.navbar {
    font-size: 1.2rem;
}

.custom-sub {
    position: relative;
    bottom: -0.1em;
    font-size: 0.85em;
}

.carousel-fullwidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.custom-href {
    color: black;
    text-decoration: none;
}

.custom-href:hover {
    color: #007bff; /* Hover 시 색상을 변경 */
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    transition: box-shadow 0.3s ease-in-out; /* 부드러운 애니메이션 */
}

.card-img-top {
    width: 100%;         /* 가로 크기 고정 */
    height: 200px;       /* 원하는 고정 높이 */
    object-fit: cover;   /* 비율 유지 및 초과 부분 크롭 */
}
